@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
    --cs-light-border: #889180;
    --cs-dark-border: #27272a;
    --cs-yellow: #facc15;
    --cs-green: #4C5844;
}
@layer utilities {
    
    .dark-top-border{
        border-top: 1px solid var(--cs-dark-border);
        border-left: 1px solid var(--cs-dark-border);
        border-bottom: 1px solid var(--cs-light-border);
        border-right: 1px solid var(--cs-light-border);
    }
    .light-top-border{
        border-top: 1px solid var(--cs-light-border);
        border-left: 1px solid var(--cs-light-border);
        border-bottom: 1px solid var(--cs-dark-border);
        border-right: 1px solid var(--cs-dark-border);
    }
    .light-tab-border{
        border-top: 1px solid var(--cs-light-border);
        border-left: 1px solid var(--cs-light-border);
        border-right: 2px solid black;
        padding-right: 20px;
        padding-left: 4px;
        white-space: nowrap;
        outline: 2px solid transparent;
        outline-offset: 2px;
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
    .cs-yellow{
        color: var(--cs-yellow);
    }
    .main-menu{
        padding-top: 0.25rem;
        padding-left: 2.25rem;
    }
    .cs-button{
        border-top: 1px solid var(--cs-light-border);
        border-left: 1px solid var(--cs-light-border);
        border-bottom: 1px solid var(--cs-dark-border);
        border-right: 1px solid var(--cs-dark-border);
        text-align: left;
        margin-right: 0.5rem;
        padding-left: 0.25rem;
        width: 5rem;
    }
    .cs-button:active{
        border-top: 1px solid var(--cs-dark-border);
        border-left: 1px solid var(--cs-dark-border);
        border-bottom: 1px solid var(--cs-light-border);
        border-right: 1px solid var(--cs-light-border);
        padding-left: 0.50rem;
        color: var(--cs-yellow);
    }
    hr{
        border-bottom: 1px solid var(--cs-light-border);
        border-top: 1px solid var(--cs-dark-border);
    }
    .logo-horizontal {
        position: absolute;
        bottom: 0;
        padding-left: 2rem;
        padding-bottom: 1.5rem;
        z-index: 0;
    }
    .navigation{
        position: absolute;
        padding-left: 2rem;
        bottom: 7.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
    }
    .menu-icon{
        margin-top: 0.25rem;
        width: 4rem;
        height:2rem;
        padding: 0.25rem;
        border-radius: 2rem;
        background-color: var(--cs-green);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--cs-light-border);
        border-left: 1px solid var(--cs-light-border);
        border-bottom: 1px solid var(--cs-dark-border);
        border-right: 1px solid var(--cs-dark-border);
    }
    .menu-active{
        color: var(--cs-yellow);
    }
    @media (min-width: 641px) {
        span.icon {display:none}
        span.text {display:inline-block}
    }
    
    @media (max-width: 640px) {
        span.icon {display:inline-block}
        span.text {display:none}
    }
    @media screen and (max-width: 640px) {
        .menu-active{
            transition: ease-in-out 0.5s;
            transform: translateY(-30%);
            bottom: 0;
            border-radius: 1rem;
        }
        .menu-out-transition{
            transition: ease-out 0.5s;
        }
        .navigation a{
            flex: 1;
        }
        .navigation{
            padding-left: 0;
            position: fixed;
            bottom: 0;
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 0;
            width: 100%;
            align-items: stretch;
        }
        .logo-horizontal {
            padding-left: 0;
            width: 100%;
            padding-bottom: 0;
            justify-content: center;
            align-items: start;
            display: grid;
            top: 0;
        }
    }
    .h-screen {

        height: calc(var(--vh, 1vh) * 100);
    }
    @media screen and (min-width: 640px) {
        .h-screen {
            height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        }
    }
    
}